{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="col-md-12 col-sm-12">
        <h1>Evaluation Domain Experts</h1>
        <p>
            This page shows a ranking evaluation for domain expert performance when ranking features according to their
            relevance. As most of the participating domain experts are German speakers, the results are presented in
            German.
        </p>
                <h3>Student Dataset</h3>
                <p>
                <p>
                    <b>Anzahl Teilnehmer</b>: 18<br>
                    <b>Quelle</b>: <a href="http://archive.ics.uci.edu/ml/datasets/Student+Performance"
                                      title="UCI Student Dataset" target="_blank"> UCI Machine Learning Repository</a>
                </p>
                <h4>Aufgabenstellung</h4>
                <i>
                    <p>Dein Freund Beat ist ein erfahrener Sekundarlehrer. Er glaubt, dass er mit Hilfe von gewissen
                        Informationen über einen SuS (z. B. das Alter) voraussagen kann, ob der SuS eher gute oder eher
                        schlechte Noten schreiben wird. Insbesondere will er voraussagen können, ob die Noten des SuS
                        besser oder schlechter als die Hälfte der Klasse sein werden.</p>
                    <p>
                        Momentan ist er sich nicht sicher, welche Informationen für eine solche Voraussage relevant
                        sind. Du und Beat sitzen zusammen und brainstormen mögliche Ideen. Gemeinsam findet ihr 15
                        verschiedene Aspekte. Beat fragt dich nun nach deiner Meinung, wie wichtig jede dieser
                        Informationen ist. Er bittet dich, die 15 verschiedenen Aspekte nach ihrer Relevanz zu
                        sortieren. Die Information, die du am wichtigsten findest, sollte ganz oben stehen und die
                        Information, die du als unwichtig betrachtest ganz unten. </p>
                </i>
                <h4>Beliebteste Aspekte</h4>
                <p>Diese Graphik zeigt die Verteilung der Features auf den ersten drei Plätzen. <br>
                    Lesebeispiel 1: <i>Der Aspekt "Höhere Ausbildung" wurde von 33.33% der Teilnehmer als besten Aspekt
                        gewählt (Position 1).</i><br>
                    Lesebeispiel 2: <i>Der Aspekt "Kleine Familie" wurde von 16.7% der Teilnehmer als drittbesten Aspekt
                        gewählt (Position 3).</i>
                </p>
                <iframe class="graph-plotly" src="{% static student.graph_ranking_count %}"></iframe>
                <h4>Beste Aspekte</h4>
                <p>Die besten Aspekte wurden über ihren <a
                        href="https://en.wikipedia.org/wiki/Kullback%E2%80%93Leibler_divergence" target="_blank"
                        title="Information Gain on Wikipedia">
                    <b>Information Gain</b></a> mit Bezug auf die Zielvariable berechnet. Die folgende Graphik zeigt die
                    berechneten Werte.</p>
                <p>
                    Lesebeispiel / Interpretation 1: <i>Die Information "Hoehere Ausbildung" (ob der SuS nach der
                    Sekundarschule noch eine höhere Ausbildungen machen möchte oder nicht) sagt am meisten darüber aus,
                    ob der SuS mit einer eher hohen oder eher tiefen Schulnote abschliessen wird.</i><br>
                    Lesebeispiel / Interpretation 2: <i>Die Information "Viele Absenzen" (ob der SuS viele Absenzen hat
                    (mehr als 21)) sagt nur sehr wenig darüber aus, ob der SuS mit einer eher hohen oder eher tiefen
                    Note abschliessen wird.</i>

                </p>

                <iframe class="graph-plotly" src="{% static student.graph_actual_ig %}"></iframe>


                <h4>Scores (anonymisiert)</h4>
                <p>Jeder Teilnehmer erhält eine Score. 100 Punkte entsprechen einem perfekten Ranking (alle Positionen
                    korrekt).
                    Für die Berechnung der Scores wurden nur die 8 am höchsten gerankten Aspekte in Betracht gezogen. Um
                    den persönlichen Score zu erfahren, bitte eine E-Mail schicken an <i>marcel PUNKT buehler AT
                        uzh.ch</i> (nur für Teilnehmer).</p>
                <iframe class="graph-plotly" src="{% static student.graph_scores %}"></iframe>

    </div>


{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}