{% extends "base.html" %}

{% load static %}

{% block content %}
    <h1>Welcome</h1>
    <p>Before building a classifier to make predictions about a target variable, one must decide what input data to use. Most scientific publications about feature selection deal with methods that can be used once training data has been collected. Yet, in the real world, one has to collect, clean and transform data before it can be used to create predictive models. Collecting data is a very expensive and time consuming process.
        Going through this process for data not relevant to the target variable is very inefficient.
        common approach to minimize the effort for feature selection is asking domain experts for their opinion.
        However, experts have been shown to perform worse at this task than one might expect.
        On this website, I present a tool, <b>KrowDD</b>, that is able to identify relevant features among a number of feature ideas before obtaining data.
    </p>
    <p>
     Feel free to try <b>KrowDD</b> yourself. Instructions on how to use this tools as well as what you need are provided <a href="{% url 'job_new' %}" target="_blank" title="New Job">here</a>.</p>
    </p>


{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}