{% extends "base.html" %}

{% load static %}

{% block content %}
    <h1>New Job</h1>
    <p>Please fill the form below to start a new <b>KrowDD</b> job. You will need your email address to query the results. You can acquire your personal AMT access key ID and AMT secret access key from <a target="_blank" href="https://aws.amazon.com/">Amazon webservices</a>.</p>
    <p>Please upload a CSV file with seven columns, including the exact headers "Feature", "Question P(X|Y=0)", "Question P(X|Y=1)", "Question P(X)", "P(X|Y=0)", "P(X|Y=1)", "P(X)". You need to fill at least one field for each sibling (e.g. "Question P(X|Y=1)" and "P(X|Y=1)").  If you do not provide a question, you need to specify a probability. <a target="_blank" href="{% static 'job_files/input/example.csv'  %}">Here</a> you find an example csv file. </p>
    <p>For the target mean, you can either provide a question (in this case, the mean will be queried from the crowd) or enter a target mean between 0 and 1.</p>
            <p>After submitting the form, you will be presented an overview of the job including a cost estimation. Then you can start the job.</p>

    {% if messages.length > 1 %}
    <div id="div-error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Error:
    <ul>
        {% for key, msg in messages.items %}
            <li>{{ key }}: {{ msg }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    <form id='form-new-job' method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form }}#}

    {% for field in form %}
        <div class="fieldWrapper">
        <div class="row">
        <div class="col-md-3">
            {{ field.errors }}
            {{ field.label_tag }}</div><div class="col-md3"> {{ field }}</div>
        </div>
        </div>
    {% endfor %}
        <button id='btn-reset' type="reset" class="btn btn-default">Reset</button>
        <button id='btn-submit' type="submit" class="save btn btn-primary">Preview...</button>
    </form>

{% endblock %}

{% block javascript %}
    <script>
        function onSubmit(e) {
            e.preventDefault();
            //Check validity (automatic?)
            // Ask if ok with estimated costs
            // Start job and return token -> show to user
            $.ajax({
                url: "{{links.onFormSubmit}}",
                data: {},
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.success === 'success') {
                        console.log('success');
                        // do whatever
                        $('#span-costs').text(data.costs);
                        $('#div-costs').show();
                        $('#span-user-token').text(data.user_token).show();
                        $('#div-user-token').show();
                    }
                    else {
                        // complain
                    }
                }
            });
        }

        function reset() {
            $(this).closest('form').find("input[type=text], textarea").val("");

            $('#user-token').hide();
            $('#div-costs').hide();
            update_target_mean_field();

            $('#id_query_target_mean').click(update_target_mean_field);
//        $('#form-new-job').submit(function(e){onSubmit(e);});

        }
        /**
         * Shows and hides target mean field based on checkbox
         */
        function update_target_mean_field() {
            if ($('#id_query_target_mean').is(':checked')) {
                $('#id_target_mean').hide();
                $('label[for="id_target_mean"]').hide();
                $('#id_target_mean_question').show();
                $('label[for="id_target_mean_question"]').show();

            } else {
                $('#id_target_mean').show();
                $('label[for="id_target_mean"]').show();
                $('#id_target_mean_question').hide();
                $('label[for="id_target_mean_question"]').hide();
            }
        }

        $(document).ready(function () {
            reset();
        });
    </script>
{% endblock %}