{% extends "base.html" %}

{% block content %}

    <h1>Job: {{ job.name }}</h1>
    <div class="col-md-3">Job uuid:</div>
    <div class="col-md-9">{{ job.uuid }}</div>
    <div class="col-md-3">Number of features:</div>
    <div class="col-md-9">{{ job.feature_set.count }}</div>
    <div class="col-md-3">Target mean</div>
    <div class="col-md-9">{% if job.query_target_mean %}Will be queried {% else %}{{ job.target_mean }}{% endif %}</div>
    <div class="col-md-3">Estimated costs:</div>
    <div class="col-md-9">${{ job.estimate_costs }}</div>
    <div class="col-md-3">Job status:</div>
    <div id="div-job-status" class="col-md-9">{{ job.status }}</div>

    <form classt="form-inline" action="{{ links.edit }}">
        <!-- does not work yet (data set) <button type="submit" class="btn btn-default">Edit</button> -->
    </form>
<div class="col-md-12">
    {% if job.status == 'created' %}
        <button id="btn-start" class="btn btn-primary">Start</button>
        {% elif job.status == 'finished' %}
        <form class="form-inline" action="{{ links.result }}"><button type="submit" class="btn btn-primary">Results</button> </form>

{% endif %}

    </div>

    <div class="col-md-6">
    <div id="div-message" class="alert-info"></div>
    </div>


{% endblock %}

{% block javascript %}
    <script>
        function onStarted(data) {
            if (data.success === 'success'){
                var msg = data.message;
                msg += " Make sure you keep track of your job uuid. You will be querying the results using your email and the job uuid. You can check the status of your job <a target='_blank' title='Job Results' href='{{ links.result }}'>here</a>"
                $('#div-message').text(msg).show();
                $('#btn-start').hide();
                $('#div-job-status').text(data.job_status);
            }
        }

        $(document).ready(function () {
            $('#div-message').hide();

            $('#btn-start').click(function() {
                var url = "{{ links.start }}";
                $.ajax({url: url, contentType: "application/json", type: 'POST', data: {csrfmiddlewaretoken: '{{ csrf_token }}'} })
                        .done(function (data) {
                            onStarted(data);
                        })
                        .fail(function () {
                            alert("error");
                        })
{#                        .always(function () {#}
{#                            alert("complete");#}
{#                        });#}
            });
        });
    </script>
{% endblock %}