{% extends "base.html" %}

{% block content %}

    <h1>Job: {{ job.name }}</h1>
    <div class="col-md-3">Job uuid:</div>
    <div class="col-md-9">{{ job.uuid }}</div>
    <div class="col-md-3">Number of features:</div>
    <div class="col-md-9">{{ job.feature_set.count }}</div>
    <div class="col-md-3">Number of estimates per feature:</div>
    <div class="col-md-9">{{ job.number_answers }}</div>
    <div class="col-md-3">Price per estimate:</div>
    <div class="col-md-9">¢{{ job.price_per_feature }}</div>
    <div class="col-md-3">Target mean:</div>
    <div class="col-md-9">{% if job.query_target_mean %}Will be queried {% else %}{{ job.target_mean }}{% endif %}</div>
    <div class="col-md-3">Estimated costs:</div>
    <div class="col-md-9">${{ job.estimate_costs }}</div>
    <div class="col-md-3">Job status:</div>
    <div id="div-job-status" class="col-md-9">{{ job.status }}</div>

    <form classt="form-inline" action="{{ links.edit }}">
        <!-- does not work yet (data set) <button type="submit" class="btn btn-default">Edit</button> -->
    </form>
<div class="col-md-12">
    {% if job.status == 'created' %}
        <button id="btn-start" class="btn btn-primary">Start</button>

        {% elif job.amt_is_done %}
        <form class="form-inline" action="{{ links.result }}"><button type="submit" class="btn btn-primary">Results</button> </form>

{% endif %}
 <div class="form-group"></div>
    <div id="div-message" class="col-md-6">
    <div  class="alert alert-info">
        Job successfully started. Make sure you keep track of your job uuid. You can query the results using your email and the job uuid. You can always check the status of your job on this page.

    </div>
    </div>
    </div>



{% endblock %}

{% block javascript %}
    <script>
        function onStarted(data) {
            if (data.success === 'success'){
                $('#div-message').show();
                $('#btn-start').hide();
                $('#div-job-status').text(data.job_status);
            }
        }

        $(document).ready(function () {
            if("{{ job.status }}"==='processing'){
                $('#div-message').show();
            } else{
                $('#div-message').hide();
            }


            $('#btn-start').click(function() {
                var url = "{{ links.start }}";
                $.ajax({url: url, contentType: "application/json", type: 'POST', data: {csrfmiddlewaretoken: '{{ csrf_token }}'} })
                        .done(function (data) {
                            onStarted(data);
                        })
                        .fail(function () {
                            alert("error");
                        })
{#                        .always(function () {#}
{#                            alert("complete");#}
{#                        });#}
            });
        });
    </script>
{% endblock %}