{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="col-md-6 col-sm-12">
    <h1>Links</h1>
    <ul>
    {% for l in links %}
        <li><a href="{{ l.link }}" target="_blank" title="{{ l.name }}"><b>{{ l.name }}</b></a>: {{ l.description }}</li>
    {% endfor %}
    </ul>
    </div>

    <div class="col-md-6 col-sm-12">
    <h2>Publication</h2>
        <p>
        The KrowDD paper has been accepted for <a href="http://www.dslab.it.aoyama.ac.jp/dsaa2017/" title="DSAA 2017" target="_blank">
        DSAA2017 - The 4th IEEE International Conference on Data Science and Advanced Analytics</a>. The conference takes place from 19-21st October 2017 in Tokyo.
            All accepted papers are listed <a href="http://www.dslab.it.aoyama.ac.jp/dsaa2017/papers/" title="DSAA 2017 Papers" target="_blank">here</a>.
    </p>
    </div>



{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}